{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil{% endblock %}

{% block body %}
    <!-- Latest courses -->
    <main class="container">
        <div class="container">
            <div class="main-body">

                <h2 class="my-5">Edition du profil</h2>

                {%if form is defined %}
                    {{ form_start(form) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    <br>
                    {{ form_row(form.image) }}
                    <p class="text-muted">Actuel: {{ app.user.image }}</p>
                    <hr>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    {{form_end(form)}}
                {% endif %}

            </div>
        </div>
    </main>

{% endblock %}
